<% provide(:title, "About") %>
<h1>About</h1>
<p>
  My name is Alyona and I just moved to Barcelona.
  <br>
  About <a href="https://forum.awd.ru/viewtopic.php?f=1057&t=388687"><em>my relocation
  to Barcelona</em></a>
  <br>
  <br>
  Costa Brava. Beaches from your Dreams
  <br>
  <img src="https://saposyprincesas.elmundo.es/wp-content/uploads/2014/08/cala.jpg" alt="альтернативный текст"> 
</p>
